<h1>Admin Dashboard</h1>

<div class="order-summary jumbotron">
  <h4>Product</h4>
  <h7> There are 
    <a href="admin/products#index" class="link-primary"> <%= @products_count %> </a> 
    products in total in the database
  </h7>
 
</div>
<div class="order-summary jumbotron">
  <h4>Category</h4>
  <h7> There are 
    <a href="admin/categories#index" class="link-primary"> <%= @categories_count %> </a> 
    categories in total in the database
  </h7>



